{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Care Connect</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  <!-- Link to custom CSS -->
</head>
<body>
    <!-- Header Section -->
    <header>

        <nav>
            <ul>
                <a href="{% url 'home' %}">Home</a></li>
                <a href="{% url 'departments' %}" class="btn">Departments</a>
                <a href="{% url 'doctors' %}" class="btn">Doctors</a>
                <a href="{% url 'contact_us' %}" class="btn">Contact Us</a>
                <a href="{% url 'register' %}" class="btn">Register</a>
            </ul>
        </nav>
    </header>

    <!-- Main Content Section -->
    <main>
        {% block content %}
        <!-- Dynamic content will be inserted here -->
        {% endblock %}
    </main>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2025 Care Connect. All rights reserved.</p>
    </footer>
</body>
</html>
